

h1,
input,
label {
  font-family: sans-serif;
  color: #111B59;
}

h1 {
  /* width: 200px; */
  /* height: 54.7px; */
  font-weight: 700;
  font-size: 24px;
  line-height: 26px;

}

p {

    
    color: #101626;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
}


.corpo {
    
    background-color: #1B85C3;
    width: 375px;
    height: 812px;
    

    display: flex;
    flex-direction: column;
    align-items: center;
    
  
}

#user {
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  

}

.campo {
    margin-top: 5vh;
    border-radius: 20px 20px 0px 0px ;
    box-shadow: 5px -10px 10px rgba(0, 0, 0, 0.25);

    background-color: #D9D9D9;
    width: 375px;
    height: 743px;
    position: relative;
    
    

    
}

fieldset {
    
    padding:25px;
    border-style: none;
    
}

fieldset h1{
    margin-top: 25px
    
}
fieldset h2{
    margin-top: 10px;
}

fieldset p{
    margin-top: 10px;
}
.inputNome{
    color: #1B85C3;
    margin-left: 20px;
}

fieldset input{
    margin-top: 10px;
}
.codigoInstituicao{
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.input{
    background: linear-gradient(112.48deg, rgba(27, 133, 195, 0.3) 6.31%, rgba(255, 255, 255, 0) 98.51%);
    border: 1px solid #1B85C3;
    border-radius: 26px;
    box-sizing: border-box;
    font-weight: 500;
    height: 40px;
    width: 295px;
    padding-left: 20px;
}

.inputReduzido01{
    background: linear-gradient(112.48deg, rgba(27, 133, 195, 0.3) 6.31%, rgba(255, 255, 255, 0) 98.51%);
    border: 1px solid #1B85C3;
    border-radius: 26px;
    box-sizing: border-box;
    font-weight: 500;
    height: 40px;
    width: 80px;
    padding-left: 20px;
}

.inputReduzido02{
    background: linear-gradient(112.48deg, rgba(27, 133, 195, 0.3) 6.31%, rgba(255, 255, 255, 0) 98.51%);
    border: 1px solid #1B85C3;
    border-radius: 26px;
    box-sizing: border-box;
    font-weight: 500;
    height: 40px;
    width: 207px;
    padding-left: 20px;
}

.inputReduzido03{
    background: linear-gradient(112.48deg, rgba(27, 133, 195, 0.3) 6.31%, rgba(255, 255, 255, 0) 98.51%);
    border: 1px solid #1B85C3;
    border-radius: 26px;
    box-sizing: border-box;
    font-weight: 500;
    height: 40px;
    width: 143px;
    padding-left: 20px;
}

.inputReduzido04{
    background: linear-gradient(112.48deg, rgba(27, 133, 195, 0.3) 6.31%, rgba(255, 255, 255, 0) 98.51%);
    border: 1px solid #1B85C3;
    border-radius: 26px;
    box-sizing: border-box;
    font-weight: 500;
    height: 40px;
    width: 48px;
    padding-left: 20px;

}

.inputSenha{

    margin-top: 20px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8px;
}

.botaoAvancar{
    
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    
    padding: 25px;

    position: absolute;
    width: 64px;
    height: 64px;
    right: 0px;
    top: 550px; 
    
}

.botaoFinalizar{

   
    position: absolute;
    width: 1000px;
    height: 48px;
    left: 104px;
    top: 608px;
}

#label {
  border-radius: 26px;
  width: 168px;
  height: 40px;
  background: linear-gradient(112.48deg, rgba(27, 133, 195, 0.3) 6.31%, rgba(255, 255, 255, 0) 98.51%);
}


.transferenciaRealizadaContainer{

    
    display: flex;
    flex-direction: column;
    align-items: center;   
    position: relative;
    top: 100px;

}
.transferenciaRealizadaBox{
    text-align: center;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 10px;
    margin: 0;
    

    
}
.transferenciaRealizadaBox h1, p{
    /* text-align: center;    */
    margin: 0;
    padding: 0;
    /* width: 300px; */   
}

.imagemTubaraoSorridente{
    width: 101.53px;
    height: 93.89px;
}