/* .textoPequeno{
    font-family: 'Inter', sans-serif;
    color: #345170;
    font-weight: 700;
    font-size: 15px;
    margin:0;
    padding: 0;
} */

.corpoCadastro{
   
    
    background-color: #1B85C3;
    width: 375px;
    height: 812px;
    

    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.bateria{
    margin-top: 0;
}
.textoCadastro{
    font-family: 'Inter', sans-serif;

    margin-top: 1vh;
    padding: 20px;

    color:#EBEBEB ;
    font-size: 20px;


}
.campoCadastro{
    
    /* margin-top: 25vh; */
    border-radius: 20px  ;
    box-shadow: 5px -10px 10px rgba(0, 0, 0, 0.25);

    background-color: #D9D9D9;
    width: 343px;
    height: 700px;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */

    padding: 30px;
       
}

label[for="liOsTermos"] {
    display: flex;
    align-items: center;
  }
  
  #liOsTermos {
    margin-right: 10px;
  }

.buttonsCadastro{
    margin: 50px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}