.shark {
  position: relative;
}

.body {
  width: 200px;
  height: 100px;
  background: gray;
  border-radius: 100px 100px 0 100px;
}

.fin {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 50px 0 50px 80px;
  border-color: transparent transparent transparent white;
  position: absolute;
  top: -10px;
  right: -10px;
}